
.mainLayout {
  min-height: 100vh;
  background-color: #f4f7f6; 
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.navbar {
  background-color: #8A2BE2; 
  padding: 1rem 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.navLinks a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 25px;
  font-weight: 500;
}

.activeLink {
  color: #adff2f !important; 
}


.card {
  background: #ffffff;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1); 
  width: 100%;
  max-width: 550px; 
  margin: 40px auto;
}

.card1 {
  background: #ffffff;
  border-radius: 15px;
  width: 100%;
  max-width: 550px; 
  margin: 0px auto;
}


.card h2 {
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
  border-bottom: 2px solid #8A2BE2;
  padding-bottom: 10px;
}

.card h3 {
  color: #8A2BE2;
  font-size: 1.2rem;
  margin: 25px 0 15px 0;
}


.formControl {
  margin-bottom: 18px;
  display: flex;
  flex-direction: column; 
}

.formControl label {
  font-weight: 600;
  margin-bottom: 6px;
  color: #444;
  font-size: 0.95rem;
}


.formControl input, 
.formControl select, 
.formControl textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  transition: border-color 0.3s, box-shadow 0.3s;
  outline: none;
}

.formControl input:focus {
  border-color: #8A2BE2;
  box-shadow: 0 0 5px rgba(138, 43, 226, 0.2);
}


.btnPrimary {
  background-color: #8A2BE2;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
  transition: background-color 0.3s, transform 0.1s;
}

.btnPrimary:hover {
  background-color: #6a1bbd;
}

.btnPrimary:active {
  transform: scale(0.98);
}


.divider {
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0;
}

.errorMsg {
  background-color: #fff3f3;
  color: #d9534f;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #d9534f;
  margin-bottom: 15px;
  font-size: 0.9rem;
  text-align: center;
}

.textarea{
  height: 175px;
  padding: 10px;
}

 .contenedor {
  width: 60%;
  padding: 50px;
  margin: 50px;
  border-radius: 10px;
  box-shadow: 0px 15px 10px 5px rgb(0,0,0,0.75);
} 

.contenedor h2 {
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
  border-bottom: 2px solid #8A2BE2;
  padding-bottom: 10px;
}

.contenedor h3 {
  color: #8A2BE2;
  font-size: 1.2rem;
  margin: 25px 0 15px 0;
}

.schec1 {
  background: #f8f1ff;
  padding: 40px;
  border-radius: 15px;
  width: 100%;
  max-width: 350px; 
  margin: 40px auto;
}

.schec2 {
  background: #f8f1ff;
  padding: 40px;
  border-radius: 15px;
  width: 100%;
  max-width: 750px; 
  margin: 40px 15px;
}

.schectitle {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 20px;
  border-bottom: 2px solid #8A2BE2;
  padding-bottom: 10px;
  text-align: center;
}