.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  z-index: 1000;
}

p {
  display: block;
}

/* Modal Content/Box */
.modal-content {
  background-color: #ffffff;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 5px solid #888;
  width: 80%;
  height: 80%; /* Could be more or less, depending on screen size */
  z-index: 1001;
  border-width: medium;
}

/* The Close Button */
.close {
  background-color: white;
  color: #aaa;
  font-size: 12px;
  font-weight: bold;
  width: 5%;
  height: 5%;
  border-color: white;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}



/*BOTONES*/
.scrBtn {
  background-color: gray;
  text-align: center;
  display: inline-block;
  height: 100%;
  border-width: 0px;
  border-radius: 10px;
  margin: 1px;
}

.scrBtn.cancel {
  background-color:  rgb(238, 238, 238);
  color: #000000;
  display: inline-block;
  width: 40%;
}
.scrBtn.cancel:hover {
  background-color: #a34ff1;
  color: rgb(0, 0, 0);
  display: inline-block;
  width: 40%;
}


.scrBtn.confirm {
  background-color: rgb(238, 238, 238);
  color: #000000;
  display: inline-block;
  width: 50%;
}

.scrBtn.confirm:hover {
  background-color: #adff2f;
  color:  rgb(0, 0, 0);
  display: inline-block;
  width: 50%;
}

.scrBtns {
  display: inline-block;
  width: 100%;
}

.title{
  background-color: #8A2BE2; 
  color: white;
  text-align: center;
  padding: 1rem 10%;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.inliner{
  background-color: rgb(238, 238, 238);
  padding: 5px;
  border: 5px;
  border-radius: 15px;
  display: inline-block;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.inline.start{
  width: 60%;
}

.inline.end{
  width: 30%;
}

.inline.date{
  background-color: rgb(238, 238, 238);
  width: 100%;
  height: 30%;
}

.eventDates {
  display: inline-block;
}

.eventDate{
  display: inline-block;
  padding: 5px;
  border: 5px;
  border-radius: 15px;
  width: 50%;
}

.eventDate .a{
  background-color: rgb(238, 238, 238);
}

.eventDate .b{
  background-color: rgb(117, 109, 109);
}

.horaFinal {
  padding-left: 120px;
}
.horaInicio {
  padding-left: 5px;
}

.inline.status{
  color: white;
}

.inline{
  padding: 5px;
  border: 5px;
  border-radius: 15px;
  display: inline-block;
}

.inline.logic{
  background-color: rgb(187, 203, 189);
}

.inline.logic:hover {
  background-color: rgb(220, 208, 229);
}

.logicBtn {
  background-color: rgb(187, 203, 189);
  border-width: 0px;
  border-radius: 15px;
  color: rgb(0, 0, 0);
  font-size: 25px;
  font-weight: bold;
  height: 50%;
  width: 100%;
}

.logicBtn:hover {
  background-color: #ff0084;
  color: white;
  font-size: 25px;
  font-weight: bold;
  height: 50%;
  width: 100%;
}

p {
  text-align: left;
  font-size: 18px;
  padding: px;
}